apiVersion: v1
kind: Secret
metadata:
  name: audit-secrets
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  DB_URL: "{{ db_url }}"
  SLACK_TOKEN: "{{ slack_token }}"
  SMTP_HOST: "{{ smtp_host }}"
  SMTP_PORT: "{{ smtp_port | default('587') }}"
  SMTP_USER: "{{ smtp_user }}"
  SMTP_PASS: "{{ smtp_pass }}"
  SMTP_FROM: "{{ smtp_from }}"
