apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dashboard
  namespace: {{ k8s_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - audit.{{ dashboard_domain }}
      secretName: dashboard-tls
  rules:
    - host: audit.{{ dashboard_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dashboard
                port:
                  number: 5000
