apiVersion: v1
kind: ServiceAccount
metadata:
  name: audit-scanner
  namespace: {{ k8s_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: audit-scanner-role
  namespace: {{ k8s_namespace }}
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get", "list", "create"]
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: audit-scanner-binding
  namespace: {{ k8s_namespace }}
subjects:
  - kind: ServiceAccount
    name: audit-scanner
    namespace: {{ k8s_namespace }}
roleRef:
  kind: Role
  apiGroup: rbac.authorization.k8s.io
  name: audit-scanner-role
